.defaultInput {
    margin: 1em;
    width: 20vw;
    border-radius: 0.6em;
    border: 0.1em solid black;
    background-color: black;
    box-shadow: inset 0em 0em 0.2em 0.2em rgba(255, 255, 255, 0.296);
    font-family: Cambria;
    color: greenyellow;
    
}
::placeholder { 
    color: greenyellow;
 }
